*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.header{
    display: flex;
    padding: 2em 10em 2em 8em;
}

nav{
    flex: 1;
    text-align: right; 
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    cursor: pointer;
}

li:first-child{
    float: left;
}

li a{
    color: gray;
    display: block;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.first{
    color: #2238e2;
    font-size: 22px;
    font-weight: bold;
}

.active{
    width: 100px;
    height: 16px;
    background-color: #4858d3;
    color: white;
    font-weight: lighter;
    border-radius: 5px;
}

.nurse{
    position: absolute;
    top: 16%;
    left: 60%;
    width: 40%;
    height: 80%;
}

.titulo{
    margin: 60px 0px 15px 3.6em;
    width: 22%;
    font-size: 42px;
    font-weight: 800;
    color: #294778;
}

p{
    color: gray;
    line-height: 25px;
}

.p1{
    margin: 0px 0px 50px 9.8em;
    width: 20%;
}

i{
    display: block;
    text-align: center;
    width: 15px;
    height: 10px;
    padding: 3px 0px;
    margin-left: 22px;
    margin-right: 8px;
}

h2{
    margin: 0px 0px 0px 11.4em;
    font-size: 12px;
    font-weight: bold;
    color: #294778;
}

.h2-1{
    margin: 0px 0px 0px 8.6em;
    margin-top: 100px;
    font-size: 16px;
}

.box-date{
    width: 665px;
    height: 100px;
    margin: 18px 0px 0px 10em;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgb(223, 223, 224);
}

#location{
    position: absolute;
    margin: 22px 0px 0px 0em;
    font-size: 16px;
    font-weight: lighter;
}

#date{
    position: absolute;
    margin: 22px 0px 0px 12em;
    font-size: 16px;
    font-weight: lighter;
}

#type{
    position: absolute;
    margin: 22px 0px 0px 22em;
    font-size: 16px;
    font-weight: lighter;
}

#location-1{
    position: absolute;
    margin: 50px 0px 0px 3em;
    font-size: 16px;
    font-weight: bold;
}

#date-1{
    position: absolute;
    margin: 50px 0px 0px 15em;
    font-size: 16px;
    font-weight: bold;
}

#type-1{
    position: absolute;
    margin: 50px 0px 0px 25em;
    font-size: 16px;
    font-weight: bold;
}

.btn-submit{
    position: absolute;
    margin: 20px 0px 0px 30em;
    width: 100px;
    height: 50px;
    background-color: #4858d3;
    font-size: 18px;
    font-weight: lighter;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.variantes{
    margin-top: 60px;
    margin-left: 60px;
    width: 95%;
}

.titulo-2{
    margin: 60px 0px 15px 5.5em;
    width: 35%;
    font-size: 30px;
    font-weight: 800;
    color: #294778;
}

.p2{
    margin: 0px 0px 50px 10.2em;
    width: 30%;
}

.box{
    display: inline-block;
    background-color: white;
    border-radius: 6px;
    width: 280px;
    height: 300px;
    box-shadow: 0px 0px 20px rgb(223, 223, 224);
}

#box-1{
    margin: 0px 0px 0px 10em;
}

#box-2{
    margin: 0px 0px 0px 2em;
}

#box-3{
    margin: 0px 0px 0px 2em;
}

#box-4{
    margin: 0px 0px 0px 2em;
}

#icon{
    margin-top: 30px;
    width: 30px;
    height: 18px;
    background-color: #EEF3FF;
    border-radius: 3px;
}

.subtitulo{
    margin: 20px 0px 10px 1em;
    font-size: 22px;
    width: 70%;
}

.p3{
    margin: 20px 0px 10px 1.8em;
    width: 80%;
    font-size: 13px;
}

.usemask{
    position: absolute;
    width: 45%;
    height: 90%;
}

.art-right{
    float: right;
    width: 40%;
    margin-bottom: 60px;
}

.titulo-3{
    font-size: 30px;
    font-weight: 800;
    color: #294778;
    margin-bottom: 30px;
}

.p4{
    width: 75%;
    font-size: 17px;
    margin-bottom: 60px;
}

.caja-1{
    display: inline-block;
    background-color: white;
    border-radius: 6px;
    width: 380px;
    height: 50px;
    box-shadow: 0px 0px 20px rgb(236, 236, 241);
    margin-bottom: 25px;
}

.txt{
    margin: 15px 0px 0px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #294778;
    font-size: 14px;
    width: 100%;
}

#icon-1{
    width: 25px;
    height: 16px;
    background-color: #EEF3FF;
    border-radius: 3px;
}

#icon-2{
    float: right;
    margin-right: 35px;
    width: 16px;
    height: 12px;
    background-color: #EEF3FF;
    border-radius: 3px;
}

.caja-2{
    display: inline-block;
    background-color: white;
    border-radius: 6px;
    width: 380px;
    height: 140px;
    box-shadow: 0px 0px 20px rgb(236, 236, 241);
    margin-bottom: 25px;
}

.p5{
    margin: 25px 0px 0px 40px;
    width: 75%;
    font-size: 12px;
    line-height: normal;
}

.titulo-4{
    display: inline-block;
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    color: #294778;
    width: 35%;
}

.box-items{
    display: inline-block;
    background-color: white;
    border-radius: 6px;
    width: 220px;
    height: 200px;
    box-shadow: 0px 0px 20px rgb(241, 241, 243);
}

.titulo-items{
    margin: 20px 0px 10px 1em;
    font-size: 18px;
    width: 70%;
}

label{
    position: absolute;
    margin-left: 80px;
    margin-top: -10px;
    font-size: 8.5px;
    color: gray;
}

.btn-items{
    margin: 35px 0px 0px 40px;
    width: 140px;
    height: 40px;
    background-color: EEF3FF;
    font-size: 14px;
    font-weight: bold;
    color: #4858d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-active{
    margin: 35px 0px 0px 40px;
    width: 140px;
    height: 40px;
    background-color: #4858d3;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

.female-nurse{
    float: right;
    width: 45%;
    height: 75%;
    margin-bottom: 150px;
}

footer{
    background-color: #EEF3FF;
    padding: 1em 0;
    height: auto;
}

.foot{
    position: relative;
    top: -35px;
    display: inline-block;
    margin: 0px 0px 0px 160px;
    border-radius: 6px;
    width: 150px;
}

.foot-1{
    display: inline-block;
    border-radius: 6px;
    width: 150px;
}

#foot-1{
    margin: 35px 0px 0px 500px;
}

#foot-2{
    margin: 35px 0px 0px 60px;
}

#foot-3{
    margin: 35px 0px 0px 60px;
}

h3{
    color: #294778;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h3-active{
    color: #2238e2;
}

h4{
    color: gray;
    font-size: 12px;
    margin-bottom: 20px;
}

.reserved{
    display: inline-block;
    margin: 40px 0px 0px 160px;
}

.term{
    display: inline-block;
    margin: 40px 0px 0px 720px;
}

.priv{
    display: inline-block;
    margin: 40px 0px 0px 30px;
}